:root {
  --font-hierarchy: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --backGroundColour: #ffffff; /* exclusive to backgrounds */
  --borderColour: #000000; /* exclusive to borders */

  --lightTextColour: #f8f1e4; /* for use on dark backgrounds */
  --darkTextColour: #1f0000; /* for use on light backgrounds */

  --lightestColour: #f9f7f3;
  --midLightColour: #e6e3ee;
  --midColour: #c1121f;
  --midDarkColour: #218ae6;
  --darkestColour: #003049;

  --greenGood: rgb(0, 128, 0);
  --redBad: rgb(247, 0, 0);

  /* Main body max of 80% vw and 1500px, centred */
  --maxContentWidth: 1500px;
  --bodyWidth: min(var(--maxContentWidth),80vw);
  --bodyMargin: max(calc(0.5*(100vw - var(--maxContentWidth))),10vw);

}

body {
  font-size: 16px;
  font-family: var(--font-hierarchy);
  width: var(--bodyWidth);
  margin: 5vh var(--bodyMargin);
}

h1 {
  margin: 0 0 25px 0;
}

h2 {
  margin: 0;
}

#top-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 175px 1fr;
}


#topbar {
  background-color: var(--midDarkColour);
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  padding: 10px 40px;
  gap: 20px;
}


#topbar-title {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 40px;
  justify-items: left;
  place-items: center;
}


.topbar-image {
  grid-column: 1;
  width: 70px;
}

.topbar-name {
  grid-column: 2;
  color: var(--lightTextColour);
  font-weight: 800;
  font-size: 50px;
}


.blue-button {
  background-color: var(--lightTextColour);
  color: var(--midDarkColour);
  padding: 10px 0;
  width: 200px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 800;
}


#main-content {
  background-color: lightgoldenrodyellow;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(1fr 1fr);
  grid-template-columns: repeat(0.7fr 0.3fr);
  background-color: var(--midLightColour);
  padding: 30px;
}

#library-book-container {
  background-color: var(--midLightColour);
  display: grid;
  /* replace with autofill? */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.indiv-book-container {
  background-color: var(--backGroundColour);
  border-left: 8px solid orange;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 140px auto;
}

.book-title-and-author {
  font-weight: 800;
  font-size: 20px;
  align-self: center;
  margin-bottom: 5px;
}

p.book-title, p.book-author {
  font-size: 16px;
  margin: 2px;
}
p.book-author {
  font-style: italic;
}

.book-synopsis {
  font-size: 18px;
  overflow: hidden;
}

.book-options {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  gap: 20px;
  justify-content: end;
}

/* Default for the modal until it is required */
#add-book-dialog-no-display {
  display: none
}

/* styling for modal, the displa: grid makes it visible, so important to closely control this */
#add-book-dialog {
  
  background-color: var(--midDarkColour);
  padding: 40px 30px;
  gap: 30px;
  border: 2px solid black;
  border-radius: 20px;
  color: var(--lightTextColour);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-left: auto;
  margin-top: 20vh;
  
}

dialog::backdrop {
background-color: rgb(10, 10, 11);
opacity: 0.85;
}

#add-book-form {
  display: grid;
  grid-template-rows: auto auto;
  gap: 30px;
  place-items: center;
}

#form-inputs {
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 20px;;
  justify-items: left;
}

#form-buttons {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#add-book-form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

#add-book-submit, #add-book-cancel {
  place-self: center;
  background-color: var(--darkestColour);
  color: var(--lightTextColour);
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 18px;
}

